<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lllyl2012.bean.mapper.AnimationMapper">
  <resultMap id="BaseResultMap" type="top.lllyl2012.bean.Animation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="resolution_ratio" jdbcType="VARCHAR" property="resolutionRatio" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="conntry" jdbcType="VARCHAR" property="conntry" />
    <result column="subtitles" jdbcType="VARCHAR" property="subtitles" />
    <result column="bean_score" jdbcType="VARCHAR" property="beanScore" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="baiduyun" jdbcType="VARCHAR" property="baiduyun" />
    <result column="baiduyunmm" jdbcType="VARCHAR" property="baiduyunmm" />
    <result column="xunlei" jdbcType="VARCHAR" property="xunlei" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, director, create_time, language, resolution_ratio, format, conntry, subtitles, 
    bean_score, size, time, remark, baiduyun, baiduyunmm, xunlei
  </sql>
  <select id="selectByExample" parameterType="top.lllyl2012.bean.AnimationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from animation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from animation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from animation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.lllyl2012.bean.AnimationExample">
    delete from animation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.lllyl2012.bean.Animation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into animation (name, director, create_time, 
      language, resolution_ratio, format, 
      conntry, subtitles, bean_score, 
      size, time, remark, 
      baiduyun, baiduyunmm, xunlei
      )
    values (#{name,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{language,jdbcType=VARCHAR}, #{resolutionRatio,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{conntry,jdbcType=VARCHAR}, #{subtitles,jdbcType=VARCHAR}, #{beanScore,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{baiduyun,jdbcType=VARCHAR}, #{baiduyunmm,jdbcType=VARCHAR}, #{xunlei,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.lllyl2012.bean.Animation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into animation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="resolutionRatio != null">
        resolution_ratio,
      </if>
      <if test="format != null">
        format,
      </if>
      <if test="conntry != null">
        conntry,
      </if>
      <if test="subtitles != null">
        subtitles,
      </if>
      <if test="beanScore != null">
        bean_score,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="baiduyun != null">
        baiduyun,
      </if>
      <if test="baiduyunmm != null">
        baiduyunmm,
      </if>
      <if test="xunlei != null">
        xunlei,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="resolutionRatio != null">
        #{resolutionRatio,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="conntry != null">
        #{conntry,jdbcType=VARCHAR},
      </if>
      <if test="subtitles != null">
        #{subtitles,jdbcType=VARCHAR},
      </if>
      <if test="beanScore != null">
        #{beanScore,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="baiduyun != null">
        #{baiduyun,jdbcType=VARCHAR},
      </if>
      <if test="baiduyunmm != null">
        #{baiduyunmm,jdbcType=VARCHAR},
      </if>
      <if test="xunlei != null">
        #{xunlei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.lllyl2012.bean.AnimationExample" resultType="java.lang.Long">
    select count(*) from animation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update animation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.resolutionRatio != null">
        resolution_ratio = #{record.resolutionRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.format != null">
        format = #{record.format,jdbcType=VARCHAR},
      </if>
      <if test="record.conntry != null">
        conntry = #{record.conntry,jdbcType=VARCHAR},
      </if>
      <if test="record.subtitles != null">
        subtitles = #{record.subtitles,jdbcType=VARCHAR},
      </if>
      <if test="record.beanScore != null">
        bean_score = #{record.beanScore,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.baiduyun != null">
        baiduyun = #{record.baiduyun,jdbcType=VARCHAR},
      </if>
      <if test="record.baiduyunmm != null">
        baiduyunmm = #{record.baiduyunmm,jdbcType=VARCHAR},
      </if>
      <if test="record.xunlei != null">
        xunlei = #{record.xunlei,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update animation
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      language = #{record.language,jdbcType=VARCHAR},
      resolution_ratio = #{record.resolutionRatio,jdbcType=VARCHAR},
      format = #{record.format,jdbcType=VARCHAR},
      conntry = #{record.conntry,jdbcType=VARCHAR},
      subtitles = #{record.subtitles,jdbcType=VARCHAR},
      bean_score = #{record.beanScore,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      baiduyun = #{record.baiduyun,jdbcType=VARCHAR},
      baiduyunmm = #{record.baiduyunmm,jdbcType=VARCHAR},
      xunlei = #{record.xunlei,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.lllyl2012.bean.Animation">
    update animation
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="resolutionRatio != null">
        resolution_ratio = #{resolutionRatio,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="conntry != null">
        conntry = #{conntry,jdbcType=VARCHAR},
      </if>
      <if test="subtitles != null">
        subtitles = #{subtitles,jdbcType=VARCHAR},
      </if>
      <if test="beanScore != null">
        bean_score = #{beanScore,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="baiduyun != null">
        baiduyun = #{baiduyun,jdbcType=VARCHAR},
      </if>
      <if test="baiduyunmm != null">
        baiduyunmm = #{baiduyunmm,jdbcType=VARCHAR},
      </if>
      <if test="xunlei != null">
        xunlei = #{xunlei,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.lllyl2012.bean.Animation">
    update animation
    set name = #{name,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      language = #{language,jdbcType=VARCHAR},
      resolution_ratio = #{resolutionRatio,jdbcType=VARCHAR},
      format = #{format,jdbcType=VARCHAR},
      conntry = #{conntry,jdbcType=VARCHAR},
      subtitles = #{subtitles,jdbcType=VARCHAR},
      bean_score = #{beanScore,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      baiduyun = #{baiduyun,jdbcType=VARCHAR},
      baiduyunmm = #{baiduyunmm,jdbcType=VARCHAR},
      xunlei = #{xunlei,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectNew" resultMap="BaseResultMap">
  	SELECT * FROM animation ORDER BY CREATE_TIME LIMIT 0,10
  </select>
</mapper>